[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
click = "*"
clickclick = "*"
flasgger = "*"
"functools32" = "*"
gunicorn = "*"
itsdangerous = "*"
jsonschema = "*"
mistune = "*"
pathlib = "*"
"psycopg2" = "*"
requests = "*"
six = "*"
"strict-rfc3339" = "*"
swagger-spec-validator = "*"
Flask = "*"
Flask-Cache = "*"
"Jinja2" = "*"
MarkupSafe = "*"
PyYAML = "*"
Werkzeug = "*"

[dev-packages]

[requires]
python_full_version = "2.7.15"
